<%= render 'dashboards/one_off_form', resource: Resource.new(url: @resource.url) %>

<hr />

<div class="panel panel-default">
  <div class="panel-body">
    <%= render collection: @resource.checks, partial: 'resources/check' %>
    <small class="pull-right">Updated <%= l @resource.updated_at, format: :short %></small>
  </div>
</div>
