<div class="jumbotron">
  <h1>Linked Open Data Monitor</h1>
  <h2>Keeping an eye on linked data resources</h2>

  <p>LODMonitor is a service that monitors the health and availability of linked open data resources</p>
  
  <p><%= link_to "Learn More", hosts_path, class: "btn btn-primary btn-lg" %></p>
</div>