@import "bootstrap-sprockets";
@import "bootstrap";

.http-log {
  height: 200px;
  overflow-y: scroll;
}

.alert-outline {
  background-color: transparent;
}

.failure-exception {
  margin-left: 2ch;
}