@import "bootstrap-sprockets";
@import "bootstrap";

.http-log {
  max-height: 200px;
  overflow-y: scroll;
}

.alert-outline {
  background-color: transparent;
}

.failure-exception {
  margin-left: 2ch;
}

.request-box {
  margin-left: 2ch;

  .request, .response {
    padding: 1em;
    margin: 0.5em 1em;
  }

  .request {    
    margin-right: 30%;
    margin-left: 0;
  }

  .response {
    margin-left: 30%;
    margin-right: 0;
  }
}